:root {
  --top-height: 8vh;
  --middle-height: calc(100vh - var(--top-height) - var(--bottom-height));
  --bottom-height: 5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(44, 44, 44);
  grid-template-columns: repeat(4, 1f);
  grid-template-areas:
  "top top top top"
  "left middle middle right"
  "bottom bottom bottom bottom";
}

.top {
  display: grid;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  grid-area: top;
  grid-template-columns: 60px auto auto auto;
  grid-template-areas:
  "userLogo streamTitle streamTitle streamGame";
  height: var(--top-height);
  color: white;
  background: rgb(20, 20, 20);
}

.userLogo {
  grid-area: userLogo;
}

.streamTitle {
  display: grid;
  grid-area: streamTitle;
}

.streamGame {
  display: grid;
  grid-area: streamGame;
}

.left {
  display: grid;
  grid-area: left;
}

.middle {
  display: grid;
  grid-area: middle;
  z-index: -1;
}

.right {
  display: grid;
  grid-area: right;
}

.right iframe {
  position: relative;
  top: 50%;
  right: 0;
  transform: translateY(50%,-50%);
  height: var(--middle-height);
  width: calc(100vw/4);
}

.bottom {
  display: grid;
  grid-area: bottom;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  height: var(--bottom-height);
  color: white;
  background: rgb(42, 42, 247);
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
  "1 2 3 4";
}
