:root {
  --top-height: 8vh;
  --center-height: calc(100vh - var(--top-height) - var(--bottom-height));
  --bottom-height: 5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(44, 44, 44);
  max-width: 100vw;
  max-height: 100vh;
  grid-template-columns: repeat(4, 1f);
  grid-template-areas:
  "top top top top"
  "center center center center"
  "bottom bottom bottom bottom";
}

.top {
  display: none;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  grid-area: top;
  grid-template-columns: 50px auto auto auto;
  grid-template-areas:
  "userLogo streamTitle streamTitle streamGame";
  height: var(--top-height);
  color: white;
  background: rgb(20, 20, 20);
}

.userLogo {
  grid-area: userLogo;
}

.streamTitle {
  grid-area: streamTitle;
}

.streamGame {
  grid-area: streamGame;
}

.center {
  display: grid;
  grid-area: center;
  height: var(--center-height);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #ff0000;
  height: 10vh;
  width: 10vh;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

#draggable {
  width: calc(100vw/4);
  padding: 0.2em;
  background: grey;
  height: var(--center-height);
}

iframe {
  position: relative;
  transform: translateY(50%, -50%);
  height: var(--center-height);
  width: calc(100vw/4);
}

.bottom {
  display: none;
  grid-area: bottom;
  font-weight: bold;
  justify-items: center;
  align-items: center;
  height: var(--bottom-height);
  color: white;
  /* background: rgb(42, 42, 247); */
  background: rgb(20,20,20);
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
  "1 2 3 4";
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

@media only screen and (max-width : 1024px) {
  iframe {
    width: calc(100vw/3);
  }
}
